body {
  font-family: monospace;
}

#fz-paynow.hpp-button-show iframe {
  height: 500px;
}

.zeal-button.zeal-button-primary {
  background-color: magenta;
  color: darkmagenta;
  border-radius: 20px;
}

src-otp-input {
   --src-btn-bg-color: magenta;
   --src-btn-text-color: darkmagenta;
   --src-btn-border-radius: 20px;
}
