:root {
  --src-btn-bg-color: magenta;
}

body {
  font-family: monospace;
}

.zeal-button.zeal-button-primary {
   --src-btn-bg-color: magenta;
  background-color: var(--src-btn-bg-color);
  border-radius: 20px;
}
